@charset "UTF-8";

@font-face {
  font-family: 'bluu';
  src: url('fonts/bluunext-bold.woff2') format('woff2'),
       url('fonts/bluunext-bold.woff') format('woff'),
       url('fonts/bluunext-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
CSS VARIABLES
	Main
	*active: #888;
	*parent: #d8d8d8;
	*bg: #fff;
	*text: #000;
*/

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	cursor: default;
}

/*ELEMENTS*/
html, body {
	margin: 0;
	padding: 0;
}

body {
	--bg_color: #fff;
	--text_color: #000;
	--text_hover: #fff;
	--code_bg: #282923;
	--code_text: #fff;
	--code_comment: #74705e;
	--code_red: #f9235e;
	--code_blue: #65d8eb;
	--code_yellow: #e7db61;
	--code_orange: #fd9620;
	--code_green: #a6e22c;
	--code_purple: #a780ff;

	width: 100vw;
	height: 100vh;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	padding: 2vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

pre {
	margin: 0;
}

/*CLASSES*/
.hide {
	display: none;
}

.show {
	display: block;
}

.bold {
	font-weight: bolder;
}

.italics {
	font-style: italic;
}

.mb-1 {
	margin-bottom: 1vw;
}

.vis_hid {
	visibility: hidden;
}

.code--red {
	color: var(--code_red) !important;
}

.code--blue {
	color: var(--code_blue);
}

.code--purple {
	color: var(--code_purple);
}

.code--gray {
	color: var(--code_comment);
}

.code--orange {
	color: var(--code_orange);
}

.code--green {
	color: var(--code_green);
}

.code--yellow {
	color: var(--code--yellow);
}

.capitalize {
	text-transform: capitalize;
}

/*APP*/
#container {
	width: 50vw;
	position: relative;
	overflow: hidden;
}

.snippets {
	display: grid;
	grid-template-columns: 14vw 14vw 14vw;
	grid-template-rows: 14vw 14vw 14vw;
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;
	justify-content: center;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
} .snippets.inactive {
	opacity: 0.6;
	pointer-events: none;
}

	.snippet__select,
	.snippet__refresh {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1.5vw;
		padding: 1rem;
		border: 1px solid var(--text_color);
		border-radius: 3px;
		cursor: pointer;
		user-select: none;
	} .snippet__select.active,
	  .snippet__select:hover,
	  .snippet__refresh:hover {
	  	background-color: var(--text_color);
	  	color: var(--text_hover);
	  }

	.snippet__refresh {
		font-weight: bolder;
	}

.snippet__display {
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
} .snippet__display.inactive {
	opacity: 0.6;
	pointer-events: none;
}

	.snippet__actions {
		display: flex;
		justify-content: space-between;
	}

		.snippet__btn {
			width: 10vw;
			height: 2vw;
			font-size: 0.8vw;
			background-color: var(--bg_color);
			border-radius: 3px;
			border: 1px solid var(--text_color);
			color: var(--text_color);
			font-family: 'Muli', sans-serif;
			outline: none;
			cursor: pointer;
		} .snippet__btn:hover {
			background-color: var(--text_color);
			color: var(--text_hover);
		}

		#copy.active {
			background-color: #444;
			color: #fff;
		}

		#copy.active_error {
			background-color: crimson;
			color: #fff;
		}

	.snippet__code {
		height: 41vw;
		margin-top: 1vw;
		padding: 1rem;
		font-size: 1vw;
		background-color: var(--code_bg);
		color: var(--code_text);
		border-radius: 3px;
		overflow-x: scroll;
	} .snippet__code > pre {
		cursor: text;
	}

	.demo__container {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 70%;
		padding: 1vw;
		overflow: scroll;
		background-color: var(--bg_color);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 1px solid var(--text_color);
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: transform 300ms;
		transition: transform 300ms;
	} .demo__container.active {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

		.demo__container > header {
			font-size: 2.2vw;
		}

		.demo__container > div {
			font-size: 1.5vw;
		}

		.demo__container > header,
		.demo__container > div,
		.demo__container > button {
			margin-bottom: 1vw;
			display: block;
		}

		.demo__output {
			background-color: var(--code_bg);
			color: var(--text_hover);
			overflow: scroll;
			max-height: 13vw;
			padding: 1vw;
			border-radius: 3px;
		}

	.demo__close {
		position: absolute;
		top: 1vw;
		right: 1vw;
		user-select: none;
		cursor: pointer;
	}

/*ANIMATIONS*/
@keyframes flicker {

}

/*MOBILE SIZE*/
@media only screen and (max-width: 767px) {
	body {
		flex-direction: column;
		justify-content: flex-start;
	}

	.snippets {
		grid-template-columns: 28vw 28vw 28vw;
		grid-template-rows: 12vw 12vw 12vw;
		grid-column-gap: 3vw;
		grid-row-gap: 3vw;
	}

		.snippet__select,
		.snippet__refresh {
			font-size: 2.2vw;
		}

		.snippet__btn {
			width: 23vw;
			height: 4vw;
			font-size: 2vw;
		}

		.snippet__actions {
			line-height: 1;
		}

		.snippet__code {
			height: 64vw;
			font-size: 1.7vw;
			margin-top: 2vw;
		}

	#container {
		width: 90vw;
		margin-top: 2vw;
	}

		.demo__container > header {
			font-size: 4.2vw;
		}

		.demo__container > div {
			font-size: 2.5vw;
		}
}

@media only screen and (max-width: 560px) {
	.snippets {
		grid-template-columns: 29vw 29vw 29vw;
		grid-template-rows: 16vw 16vw 16vw;
	}

		.snippet__select,
		.snippet__refresh {
			font-size: 3.2vw;
		}

		.snippet__btn {
			width: 28vw;
			height: 5vw;
			font-size: 2.5vw;
		}

		.snippet__code {
			height: 85vw;
			font-size: 2vw;
			margin-top: 5vw;
		}

	#container {
		width: 93vw;
		margin-top: 5vw;
	}
}




